{% extends "auctions/layout.html" %}

{% load static %}
{% block watchlist %}



{% endblock %}
{% block body %}

<h2>Active Listings</h2>
<ul class="sinbullets">
    {% for auction in auctions %}

    <li>
        <div>
            <table class="tablestyle">
                <tr>
                    <td width="30%"> <img class="imgstyle" src="{{ auction.url_image }}"> </td>
                    <td width="70%">
                        <ul class="sinbullets">
                            <div class="dscstyle">
                                {% if user.is_authenticated %}
                                    <li><a href="{% url 'listing' auction.id %}">{{auction.title}}</a></li>
                                    <li>{{ auction.price }}</li>
                                    <li>{{ auction.description }}</li><br>
                                    <li class="smallfont">Created {{ auction.date_creation }}</li>
                                {% else %}
                                    <li>{{auction.title}}</li>
                                    <li>{{ auction.price }}</li>
                                    <li>{{ auction.description }}</li><br>
                                    <li class="smallfont">Created {{ auction.date_creation }}</li>
                                {% endif %}
        
                            </div>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </li>

    {% endfor %}
</ul>
{% endblock %}
